<div class="bg d-flex flex-column p-4">
    <div class="d-flex flex-wrap w-100">
        <app-search class="d-block flex-grow-1"></app-search>
        <span class="ms-auto me-4" (click)="back()" role="button"
            style="font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: black; text-decoration: none; font-weight: bold;">
            Back</span>
        <a href="/login" class="ms-auto"
            style="font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: black; text-decoration: none; font-weight: bold;">
            Home</a>
    </div>

    <div class="bg-white-fade d-flex flex-column p-3" style="height: 50%; display: flex;" *ngIf="movies?.length">
        <div class="d-flex mb-4">
            <div class="" style="width: 180px; height: 90%; padding-left: 20px; padding-top: 10px;">
                <img src="{{movies[0].image}}" alt="" style="width: 140px;">
            </div>
            <div class="mt-5" style="padding-left: 25px;">
                <div class="">
                    <h1>{{movies[0].title}}</h1>
                </div>
                <div class="" style="width: 100%;">
                    <h3
                        style="font-size: 15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-right: 50px; ">
                        Genre: {{movies[0].genres}}
                    </h3>
                </div>
                <div class="" style="width: 100%;">
                    <h3
                        style="font-size: 15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-right: 50px; ">
                        Description: {{movies[0].info || sampleInfo}}
                    </h3>
                </div>
            </div>
        </div>

        <h4 class="mb-2" style="font-size: 18px;"> Similar movies</h4>
        <carousel [itemsPerSlide]="7" [singleSlideOffset]="true" [interval]="0" [isAnimated]="true"
            [showIndicators]="false">
            <slide *ngFor="let movie of movies; let index=index" style="height: 250px;">
                <img src="{{movie.image}}" tooltip="{{movie.title}}" placement="bottom" container="body"
                    alt="image slide" style="display: block; width: 100%; height:245px; border: 2px solid white; cursor: pointer;"
                    [routerLink]="['/resysformovie', movie.movie_id]">
            </slide>
        </carousel>
    </div>


</div>